/*button styling*/
#rmp-button {
    border: 1px solid transparent;
    color: white;
    border-color: #d966ff;
    background-color: #d966ff;
    font-weight: 400;
    cursor: pointer;
    padding: 4px;
    transition: all 1s;
}

#rmp-button:hover {
    background-color: #1ddea1;
    border-color:  #1ddea1;
}

/*rating box styling*/
#rating-box {
    border: none;
}