/*button styling*/
#rmp-button {
    border: 1px solid transparent;
    color: white;
    border-color: #d966ff;
    background-color: #d966ff;
    font-weight: 400;
    cursor: pointer;
    padding: 4px;
    transition: all 1s;
}

#rmp-button:hover {
    background-color: #1ddea1;
    border-color:  #1ddea1;
}

/*rating box styling*/
/*container*/
.popup {
    visibility: hidden;
    display: inline-block;
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,0.6));
    width: 340px;
    height: 330px;
    color: #fff;
    text-align: center;
    padding: 4px 4px;
    z-index: 1;
    position: absolute;
    top: 120px;
    right: 42px;
  }

/*arrow pointing to container*/
.popup::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #706f6f transparent transparent transparent;
    transform: rotate(180deg);
  }

  /*specific formatting of rating divs*/
  #popup_title {
    width: 330px;
    height: 10%;
    top: 0%;
  }

  #popup_overall {
    width: 330px;
    height: 10%;
    top: 10%;
    text-align: left;
    padding-top: 5px;
  }

  #overall_graphic {
    width: 330px;
    height: 10%;
    top: 20%;
  }

  #popup_difficulty {
    width: 330px;
    height: 10%;
    top: 30%;
    text-align: left;
    padding-top: 5px;
  }

  #difficulty_graphic {
    width: 330px;
    height: 10%;
    top: 40%;
  }

  #popup_again {
    width: 330px;
    height: 10%;
    top: 50%;
    text-align: left;
    padding-top: 5px;
  }

  #again_graphic {
    width: 330px;
    height: 10%;
    top: 60%;
  }

  #popup_tags {
    width: 330px;
    height: 10%;
    top: 70%;
    text-align: left;
    padding-top: 5px;
  }

  #popup_num {
    width: 330px;
    height: 10%;
    top: 80%;
  }

  #popup_link {
    width: 330px;
    height: 10%;
    top: 90%;
  }

  /*progress bar divs*/
  #overall_bar {
    color: grey;
    text-align: right;
    padding-top: 4px;
    padding-bottom: 2px; 
    padding-right: 2px;
    height: 100%;
  }

  #difficulty_bar {
    color: grey;
    text-align: right;
    padding-top: 4px;
    padding-bottom: 2px; 
    padding-right: 2px;
    height: 100%;
  }

  #again_bar {
    color: grey;
    text-align: right;
    padding-top: 4px;
    padding-bottom: 2px; 
    padding-right: 2px;
    height: 100%;
  }

  /*general formatting of rating divs*/
  .popup_text {
    position: absolute;
    z-index: 1;
  }

  /*link color at bottom of box*/
  #anchor_link {
    color: #7CFFDC;
  }

  /*toggle popup class when clicking on the button*/
  .show {
    visibility: visible;
    animation: fadeIn 1s;
  }

  /*animation for popup*/
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  