/*button styling*/
#rmp-button {
    border: 1px solid transparent;
    color: white;
    border-color: #d966ff;
    background-color: #d966ff;
    font-weight: 400;
    cursor: pointer;
    padding: 4px;
    transition: all 1s;
}

#rmp-button:hover {
    background-color: #1ddea1;
    border-color:  #1ddea1;
}

/*rating box styling*/
/*container*/
.popup {
    position: absolute;
    display: inline-block;
}

/*actual popup*/
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    height: 220px;
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,0.6));
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 4px;
    position: absolute;
    z-index: 1;
    top: -10px;
    left: -150px;
  }

  /*arrow pointing to popup*/
.popup .popuptext::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #706f6f transparent transparent transparent;
    transform: rotate(180deg);
  }
  
  /*toggle popup class when clicking on the button*/
  .popup .show {
    visibility: visible;
    animation: fadeIn 1s;
  }

  /*animation for popup*/
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  